* {
  box-sizing: border-box;
}

.btn {
  width: 60px;
}

#reset, #start_stop {
  width: 115px;
}

.display-center {
  width: 304px;
  border-radius: 5px;
  background-color: white;
}

.btn-blue {

  background-color: #1258DC;
  
}

.btn-blue:hover {
  background-color: deepskyblue;
}

.btn-red {

  background-color: #EB2828;
  border-block-color:lightcoral;
  border-color: lightcoral;
}


.btn-red:hover {

  background-color: tomato;
}